body{
      margin-top:70px;
      background:white;
      color:black;
    }

.app-title {
  padding: 30px;
  color: black;
}

.heading {
	font-family: myFirstFont;
    src: url(sansation_light.woff);
}

footer {
  text-align: center;
}
